*.iml
*.class
.Rhistory
/.idea/
/target/
node_modules/

/src/main/webapp/sequences/
/src/main/webapp/bundle.js
/src/main/webapp/babel-out/

/webscraping/r/course-info-json-files/
/webscraping/r/course-info-jsonfiles/
/webscraping/node/course-seq/sequences/
