@import url('https://fonts.googleapis.com/css?family=Orbitron');

/* Root styling */

#react-root {
    padding-top: 15px;
    font-size: 14px;
}

/* Styling for SemesterTable */

.semesterTable tr > td:first-of-type {
    vertical-align: middle;
}

/* Styling for SemesterList */

.semesterList {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.semesterListItem:first-of-type {
    border-top: none;
}

.semesterListItem {
    border-top: 1px solid #DDDDDD;
    border-bottom: none;
}

.semesterListItem .courseList {
    margin-bottom: 6px;
}

.semesterID {
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 2px;
}

/* Styling for SemesterBox */

.semesterBox {
    min-height: 125px;
}

.semesterBox input {
    margin-left: 4px;
    height: 16px;
    width: 16px;
}
.noCoursesIndicator, .workTermIndicator {
    vertical-align: middle;
}

.course {
    display: flex;
    padding: 0px 8px;
    cursor: pointer;
    width: 160px;
    margin: 6px auto;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

.course:hover {
    background-color: #E6E6E6;
}

.course:active {
    background-color: #D3D3D3;
}

.beingDragged {
    opacity: 0;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.orList {
    width: 160px;
    border: none;
    margin: 6px auto;
}

.orList .course {
    margin: 0;
    border: none;
    border-radius: initial;
    width: auto;
}

.orList .input-group-addon {
    padding: 0px;
    width: 100%;
    background-color: transparent;
    color: #333333;
}

.orList .input-group-addon .course {
    height: 20px;
    padding-top: 3px;
}

.orList button {
    padding: 0px 8px;
    background-color: transparent;
}

.orList button:hover, .orList button:active {
    background-color: inherit;
}

.orList .caret {
    margin-bottom: 2px;
}


.courseCode {
    margin-right: auto;
}

.courseCredits {}

/* Styling for IOPanel */

.ioPanel > div {
    margin-bottom: 20px;
}

.ioPanel pre {
    max-height: 250px;
    overflow-x: auto;
    white-space: pre-wrap;
    margin-top: 20px;
}

.logoContainer {
    font: bold 20px orbitron;
}

.logoContainer .panel-body {
    padding: 0;
}

.logoContainer .panel-body > div {
    padding: 15px;
}

.ioPanel .programSelect select {
    color: #333;
}

.export a {
    cursor: pointer;
}

/* Styling for SearchBox */

ul.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu-item .ui-state-active {
    background-color: #E6E6E6;
    color: black;
    border: none;
    margin: 0px;
}

/* Styling for loading icon */

.smallLoadingSpinner {
    font-size: 22px;
    padding: 4px 12px;
}

.bigLoadingSpinner {
    font-size: 50px;
    padding: 50px;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Special styling for small screens */

@media (max-width: 991px) {

    #react-root,
    #react-root .orList .input-group-addon,
    #react-root .orList .dropdown-menu,
    .ioPanel .export button,
    .ioPanel .export .dropdown-menu,
    .ioPanel .programSelect select,
    .ioPanel .courseSearch input,
    .ioPanel .courseSearch button,
    .logoContainer .panel-body > div,
    .ui-menu-item-wrapper {
        font-size: 30px;
    }

    .ioPanel .programSelect select,
    .ioPanel .courseSearch input,
    .ioPanel .courseSearch button {
        height: 48px;
    }

    .course,
    #react-root .orList,
    #react-root .orList .dropdown-menu .course,
    .ioPanel .course {
        width: 300px;
    }

    #react-root div:not(.input-group-addon) > .course,
    #react-root .orList,
    #react-root .orList button,
    #react-root .orList .dropdown-menu .course,
    .ioPanel .course{
        height: 66px;
    }
    #react-root .orList button {
        width: 35px;
    }

    #react-root div:not(.input-group-addon) > .course,
    #react-root .orList .dropdown-menu .course,
    .ioPanel .course{
        padding-top: 12px;
    }

    #react-root .orList .input-group-addon .course {
        height: 64px;
        padding-top: 18px;
    }

    #react-root input[type="checkbox"] {
        height: 30px;
        width: 30px;
    }
}

/* Special styling for DND */

.dragPreview {
    margin: 0;
}

.textSelectionOff {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}