.nav-bar {

    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 250px;

    background-color: #004080;

    z-index: 0;

    background-image: url("../images/navbar-bkg.png");
    background-repeat: no-repeat;
    background-position: top left;

}

#nav-header {

    padding-bottom: 4px;

}

#nav-header .fa-user-circle {

    font-size: 150px;
    color: white;
    position: absolute;
    left: 50px;
    top: 36px;

    cursor: pointer;

}

#nav-content {

    margin-top: 12px;

}

#personal-image {

    margin: 16px 40px;
    width: 170px;
    height: 170px;
    border-radius: 125px;
    border: 1px solid black;

    cursor: pointer;

    visibility: hidden;

}

.projects-list {

    margin-left: 16px;

}

.label {

    font-size: 18px;
    color: #FFFFFF;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0px;

    -webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;

}

.label.clickable {

    cursor: pointer;

}

.label.clickable:hover {

    color: #65B1FF;

}


.label.projects {

    font-size: 24px;
	padding-left: 8px;
	margin-left: 16px;
	margin-top: 8px;

}

.label.resume {

	margin-top: 77px;
    font-size: 24px;
    padding-left: 8px;
    margin-left: 16px;
}

.label.github {

	position: absolute;
	bottom: 8px;
	left: 0px;
	width: 200px;

	padding: 6px 24px;

	text-align: center;

}

.label i {

    margin-right: 12px;
	float: right;

}

.label.projects i {

	margin-right: 15px;

}

.label.github i {

	float: initial;
	font-size: 50px;
	margin-right: 0px;
	margin-bottom: 6px;

}
