@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background: url("../images/Concordia-Background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.sequenceContainer {
	min-width: 700px;
	background-color: white;
	position: absolute;
	left: 400px;
	margin-top: 25px;
	margin-bottom: 25px;
	right: 80px;
	border: 3px solid black;
	float: left;
	border-radius: 5px;
	opacity: 0.9;
}

div.term {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	margin: 20px;
	padding: 0px;
	border: 3px solid #900C3F;
}

div.semesterHeading {
	height: 34px;
	margin-bottom: 0px;
	font: italic small-caps normal 20px Orbitron, Arial, Helvetica, sans-serif;
	border: none;
	text-align: center;
	padding-top: 6px;
	padding-left: 30px;
	font-weight: bold;
	background-color: #DDDDDD;
}

div.courseContainer {
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	min-height: 5px;
}

div.course {
	height: 35px;
	border: 2px solid black;
	border-right: none;
	border-left: none;
	margin: -1px 0px;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /*Safari*/
}

div.course:last-of-type:not(.grabbed) {
	border-bottom: none;
}

div.course:hover {
	background-color: #DDDDDD;
}

div.course.grabbed {
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-radius: 5px;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

div.course div {
	display: inline-block;
	font: italic small-caps normal 15px Arial, Helvetica, sans-serif;
	height: 100%;
}

div.left {
	width: 15%;
	text-align: right;
	padding: 8px 0px; /*to center the text vertically*/
}

div.center {
	width: 70%;
	text-align: center;
	padding: 8px 0px; /*to center the text vertically*/
}

div.right {
	width: 15%;
	text-align: left;
	padding: 8px 0px; /*to center the text vertically*/
}

div.infoPanel {
	position: fixed;
	float: left;
	margin-top: 19px;
	margin-left: 30px;
	min-height: 250px;
	width: 320px;
	display: inline-block;
}

div.infoPanel > div {
	margin: 6px 0px;
	border-radius: 5px;
}

div.infoPanel p {
	font: italic small-caps normal 15px Arial, Helvetica, sans-serif;
	margin: 15px;
}

div.classSearch {
	opacity: 0.9;
	background-color: white;
	min-height: 150px;
	border: 3px solid black;
}

div.errorBox {
	opacity: 0.9;
	background-color: white;
	min-height: 150px;
	margin-left: -0.45%;
	border: 3.5px solid black;
}

body div.valid {
	background-color: rgba(152,251,152,0.9);
}

body div.invalid {
	background-color: rgba(251,152,152,0.95);
}

div.course.invalid:hover {
	background-color: rgba(250,127,127,0.95);
}

p.errorBoxHeader {
	font: small-caps normal 20px Orbitron, Arial, Helvetica, sans-serif;
}

p.info {
	font: small-caps normal 15px Orbitron, Arial, Helvetica, sans-serif;
}

p.error {
	font: small-caps normal 15px Orbitron, Arial, Helvetica, sans-serif;
}

div.export {
	height: 50px;
	border: 3px solid #900C3F;
	background-color: #900C3F;
	border-radius: 5px;
}

button.exportButton {
	cursor: pointer;
	width: 100%;
	height: 50px;
	background-color: #900C3F;
	border: 3px solid orange;
	border-radius: 5px;
	color: white;
	font: small-caps normal 20px Orbitron, Arial, Helvetica, sans-serif;
	opacity: 0.5;
	transition: opacity 1s;
	-webkit-transition: opacity 1s; /*Safari*/
}

button.exportButton:hover{
	opacity: 1;
}

button.toggle {
	margin-bottom: 4px;
	cursor: pointer;
	width: 25px;
	height: 28px;
	border-radius: 100%;
	float: right;
	margin-right: 8px;
	font: bold 15px Arial;
	padding-right: 20px;
	background-color: #900C3F;
	color: white;
}

button.toggle:focus {
	outline: none;
}

button.search {
  display: inline-block;
  border-radius: 4px;
  background-color: #900C3F;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: Orbitron, Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px;
  width: 98px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 0px;
  margin: 5px;
}

button.search span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.search span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.search:hover span {
  padding-right: 25px;
}

button.search:hover span:after {
  opacity: 1;
  right: 0;
}

p.mainHeader {
	font: italic small-caps bold 30px Orbitron, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}

input[type="text"]{
	margin-left: 6px;
    padding-left: 4px;
    position: relative;
    top: 3px;
    border-radius: 1px;
    font-family: Orbitron, Arial, Helvetica, sans-serif;
    height: 23px;
    font-size: 15px;
    width: calc(100% - 128px);
}

ul.ui-autocomplete {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
}

ul.ui-autocomplete li {
	font-family: Orbitron, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
