<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>My Website</display-name>

    <servlet>
        <servlet-name>SequenceValidator</servlet-name>
        <servlet-class>SequenceValidator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SequenceValidator</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourseInfoProvider</servlet-name>
        <servlet-class>CourseInfoProvider</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CourseInfoProvider</servlet-name>
        <url-pattern>/courseinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourseListProvider</servlet-name>
        <servlet-class>CourseListProvider</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CourseListProvider</servlet-name>
        <url-pattern>/courselist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SequenceExporter</servlet-name>
        <servlet-class>SequenceExporter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SequenceExporter</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SequenceProvider</servlet-name>
        <servlet-class>SequenceProvider</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SequenceProvider</servlet-name>
        <url-pattern>/mongosequences</url-pattern>
    </servlet-mapping>

</web-app>